
table {
    border-collapse : collapse;
}

table, th, td {
    border : 1px solid black;
}

th, td {
    text-align : center;
    padding-left : 15px;
    padding-right : 15px;
}

th {
    background-color : lightgrey;
}

td {
    background-color : pink;
}
