
<html>
<head>

  <script>
    window.csrf_token = "{{ csrf_token }}";
  </script>

  {% load static %}
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script type="text/javascript" src="{% static "phoenix_model_info.js" %}"></script>
  <link rel="stylesheet" href="{% static "phoenix_model_info.css" %}"></link>

</head>
<body>

  <div ng-app="phoenix_model_info_app">
    <div ng-controller="phoenix_model_info_controller">
      <h1>Model Training Information</h1>
      
      <h2 class="model-text">Version</h2>

      <div ng-hide="have_data">
	<img src="{% static "spinner.gif" %}"></link>
      </div>
      <div ng-show="have_data">
	<p>{% verbatim %}{{data.version.version}}{% endverbatim %}</p>
      </div>

      <h2 class="model-text">"Buy" Model</h2>

      <h4>Key ROC Points</h4>

      <div ng-hide="have_data">
	<img src="{% static "spinner.gif" %}"></link>
      </div>
      <div ng-show="have_data">

      <table class="key-roc-points">
	<tr><th>Threshold</th><th>True Positive Rate</th><th>False Positive Rate</th></tr>
	<tr ng-repeat="item in data.buy_ROC">
	  <td>{% verbatim %}{{item.threshold | number:3}}{% endverbatim %}</td>
	  <td>{% verbatim %}{{item.tpr | number:3}}{% endverbatim %}</td>
	  <td>{% verbatim %}{{item.fpr | number:3}}{% endverbatim %}</td>
	</tr>
      </table>

      </div>
      
      <h4>Relative Feature Importances</h4>
      <img src="{% static "buy_feature_importances.png" %}"/>
      
      <h4>ROC Curve</h4>
      <img src="{% static "buy_ROC.png" %}"/>
      
      <h4>AUC Histogram</h4>
      <img src="{% static "buy_HIST_AUC.png" %}"/>
      
      <h4>SVM Grid Search</h4>
      <img src="{% static "buy_grid.png" %}"/>
      
      <h2 class="model-text">"Short" Model</h2>

      <h4>Key ROC Points</h4>

      <div ng-hide="have_data">
	<img src="{% static "spinner.gif" %}"></link>
      </div>
      <div ng-show="have_data">

      <table class="key-roc-points">
	<tr><th>Threshold</th><th>True Positive Rate</th><th>False Positive Rate</th></tr>
	<tr ng-repeat="item in data.short_ROC">
	  <td>{% verbatim %}{{item.threshold | number:3}}{% endverbatim %}</td>
	  <td>{% verbatim %}{{item.tpr | number:3}}{% endverbatim %}</td>
	  <td>{% verbatim %}{{item.fpr | number:3}}{% endverbatim %}</td>
	</tr>
      </table>
      </div>
      
      <h4>Relative Feature Importances</h4>
      <img src="{% static "short_feature_importances.png" %}"/>
      
      <h4>ROC Curve</h4>
      <img src="{% static "short_ROC.png" %}"/>
      
      <h4>AUC Histogram</h4>
      <img src="{% static "short_HIST_AUC.png" %}"/>
      
      <h4>SVM Grid Search</h4>
      <img src="{% static "short_grid.png" %}"/>
      
    </div>
  </div>
  
</body>
</html>

